$black: #000000;
$white: #ffffff;
$green: #02baab;
$dark: #3b4954;
$blue: #914ac2;
$gray: #c3c3c3;
$yellow: #ffae00;
$dark: black;



.amber-theme {
  .green-head {
    padding: 10vh 0;
    background: $green;
    .theme-title {
      margin-right: 60px;
    }
    .my-btn {
      position: relative;
      padding-right: 40px;
      &::after {
        position: absolute;
        content: "";

      }
    }
  }
  .theme-features {
    background: white;
    padding: 10vh;
  }
}
.features-list {
  .features-item {
    position: relative;
    z-index: 1;
    padding-left: 90px;
    margin-bottom: 40px;
    padding-right: 45px;
    &:first-child::before {
      position: absolute;
      content: '';
      width: 41px;
      height: 41px;
      top: -10px;
      left: 5px;
      background: url("./img/star.png") no-repeat;
    }
    &:nth-child(2)::before {
      position: absolute;
      content: '';
      width: 35px;
      height: 32px;
      top: -10px;
      left: 5px;
      background: url("./img/cup.png") no-repeat;
    }
    &:nth-child(4)::before {
      position: absolute;
      content: '';
      width: 34px;
      height: 34px;
      top: -10px;
      left: 5px;
      background: url("./img/magic.png") no-repeat;
    }
    &:nth-child(5)::before {
      position: absolute;
      content: '';
      width: 43px;
      height: 28px;
      top: -10px;
      left: 5px;
      background: url("./img/push.png") no-repeat;
    }
  }
}
@media (max-width: 1000px) {
  .amber-theme .green-head .theme-descript {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media (max-width: 1000px) {
  .amber-theme .green-head .my-btn {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  .features-list .features-item {
    padding-left: 50px;
    padding-right: 5px;
  }
}
@media (max-width: 540px) {
  .features-title {
    font-size: 20px;
  }
}
