$black: #000000;
$white: #ffffff;
$green: #02baab;
$dark: #3b4954;
$blue: #914ac2;
$gray: #c3c3c3;
$yellow: #ffae00;
$dark: black;

.blog-header {
  height: 330px;
  background: url("./img/blog-head-back.jpg") 0 0 no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  .blog-title {
    padding-top: 155px;
  }
}
.nav-blog {
  .blog-item {
    .blog-link {
      display: block;
      position: relative;
      padding-left: 30px;
      color: #85939f;
      font-size: 12px;
      font-weight: 300;
      line-height: 20px;
    }
    & .blog-link::before {
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 5px;
      left: 0;
    }
    &:first-child .blog-link::before {
      background: url("./img/user.png") no-repeat;
    }
    &:nth-child(2) .blog-link::before {
      background: url("./img/clock.png") no-repeat;
    }
    &:last-child .blog-link::before {
      background: url("./img/commen.png") no-repeat;
    }
  }
}
.breadcrumb {
  background: none;
  .breadcrumb-link {
    color: #85939f;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
}

.pagination {
  .page-item {
    .page-link {
      border: none;
      color: #02baab;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase;
      &:first-child {
        color: #3b4954;
      }
      &:nth-child(7) {
        color: #6d0fae;
      }
      /* Text style for "1, ..." */
      //color:
      /* Text style for "7" */
      //color:
    }
  }
}