$black: #000000;
$white: #ffffff;
$green: #02baab;
$dark: #3b4954;
$blue: #914ac2;
$gray: #c3c3c3;
$yellow: #ffae00;
$dark: black;


.last-works {
  padding: 10vh 0;
  background: url("img/sea.jpg")0 -200px;
}
.min-wrap {
  max-width: 740px;
  margin: 0 auto;
}
.my-cards {
  .cards-item {
    position: relative;
    &:hover .card-vertical {
      opacity: 1;
      transition: 1s;
    }
    &:hover .down-text {
      opacity: 0;
      transition: 1s;
    }
    .card-photo {
      width: 100%;
    }
  }
  .card-vertical {
    opacity: 0;
    display: flex;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
  }

  .icon-item {
    .icon-linc {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: green;
    }
    &:first-child .icon-linc {
      background: $green url("img/heart.png") no-repeat 10px 13px;
    }
    &:nth-child(2) .icon-linc {
      background: $green url("img/zoom.png") no-repeat 10px 12px;
    }
    &:last-child .icon-linc {
      background: $green url("img/icon-link.png") no-repeat 10px 10px;
    }
  }
}
.down-text {
  width: 90%;
  position: absolute;
  bottom: 5px;
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    .icon {
      display: block;
      width: 16px;
      height: 14px;
      background: url("img/heart1.png") no-repeat;


    }
  }
  .person-position {
    display: flex;
    justify-content: space-between;
    color: #02baab;
    margin: 0 20px;
    font-size: 11px;
    font-weight: 300;
    line-height: 20px;
  }
}



@media (max-width: 767px) {
  .cards-item {
    margin-bottom: 10px;
  }
}

