@import url(./../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(./font-awesome/css/font-awesome.min.css);
@import url(./styles/hover-min.css);
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0; }

figure {
  margin: 0 0 30px; }

button {
  border: none;
  background: none;
  cursor: pointer; }

button:focus {
  display: none; }

.my-btn {
  height: 43px;
  padding: 0 23px;
  font-size: 12px;
  font-weight: 700;
  line-height: 43px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  cursor: pointer; }

.full-btn {
  background: #02baab;
  border: none;
  color: #ffffff; }

.green-color {
  color: #02baab; }

.green-btn {
  background: transparent;
  border: 2px solid #02baab;
  color: #02baab; }

.yellow-btn {
  background: transparent;
  border: 2px solid #ffae00;
  color: #ffae00; }

.yellow-btn:hover {
  background: #ffae00;
  color: #ffffff; }

.green-btn:hover {
  background: #02baab;
  color: #ffffff; }

.white-btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff; }

#carouselExampleIndicators > ol > li {
  background: #02baab; }

#carouselExampleIndicators > ol > li.active {
  background: #02baab; }

a.inl {
  display: inline-block; }

.my-card .b-2 .my-btn:hover {
  color: #ffffff; }

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', 'Arial', sans-serif; }

.header-top {
  background-color: #000000; }

.top-navbar .form-search {
  position: relative;
  width: 210px; }
  .top-navbar .form-search .top-search {
    border-radius: 0;
    background: #000000;
    font-family: 'Lato', sans-serif;
    color: #85939f;
    width: 100%;
    height: 28px;
    padding-right: 20px;
    border: 1px solid rgba(133, 147, 159, 0.5); }
  .top-navbar .form-search .my-btn-s {
    position: absolute;
    right: 17px;
    background: none;
    border: none; }
    .top-navbar .form-search .my-btn-s .fa-search {
      color: #85939f; }

.top-navbar .log-menu .log-item {
  position: relative;
  padding-left: 20px; }
  .top-navbar .log-menu .log-item:first-child {
    margin-right: 15px; }
    .top-navbar .log-menu .log-item:first-child::before {
      position: absolute;
      content: "";
      width: 16px;
      height: 15px;
      top: 11px;
      left: 2px;
      background: url("./img/user-icon.png") no-repeat; }
  .top-navbar .log-menu .log-item:last-child::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 9px;
    left: 1px;
    background: url("./img/pen-icon.png") no-repeat; }
  .top-navbar .log-menu .log-item .log-link {
    color: #85939f;
    font-size: 11px;
    font-weight: 300;
    line-height: 35px; }

@media screen and (max-width: 385px) {
  .top-navbar {
    display: block; }
  .form-search {
    width: 100%; } }

.main-header {
  background: #666666; }
  .main-header .main-nav {
    padding: 0; }
    .main-header .main-nav .logo {
      margin: 0; }
    .main-header .main-nav .navbar-toggler {
      background: #ffffff; }

.main-navbar-nav .main-nav-link {
  width: 100px;
  padding: 12px 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase; }
  .main-navbar-nav .main-nav-link:first-child {
    border-top: 10px solid #ffae00; }
  .main-navbar-nav .main-nav-link:first-child:hover {
    transition-duration: 1.5s;
    background: #ffae00; }
  .main-navbar-nav .main-nav-link:nth-child(2) {
    border-top: 10px solid #fc7100; }
  .main-navbar-nav .main-nav-link:nth-child(2):hover {
    transition: 0.5s;
    background: #fc7100; }
  .main-navbar-nav .main-nav-link:nth-child(3) {
    border-top: 10px solid #e51c5e; }
  .main-navbar-nav .main-nav-link:nth-child(3):hover {
    transition: 0.5s;
    background: #e51c5e; }
  .main-navbar-nav .main-nav-link:nth-child(4) {
    border-top: 10px solid #ae0f8d; }
  .main-navbar-nav .main-nav-link:nth-child(4):hover {
    transition: 0.5s;
    background: #ae0f8d; }
  .main-navbar-nav .main-nav-link:nth-child(5) {
    border-top: 10px solid #6d0fae; }
  .main-navbar-nav .main-nav-link:nth-child(5):hover {
    transition: 0.5s;
    background: #6d0fae; }
  .main-navbar-nav .main-nav-link:nth-child(6) {
    border-top: 10px solid #33227a; }
  .main-navbar-nav .main-nav-link:nth-child(6):hover {
    transition: 0.5s;
    background: #33227a; }
  .main-navbar-nav .main-nav-link:nth-child(7) {
    border-top: 10px solid #0c8fcc; }
  .main-navbar-nav .main-nav-link:nth-child(7):hover {
    transition: 0.5s;
    background: #0c8fcc; }

@media (max-width: 990px) {
  .main-navbar-nav .main-nav-link {
    width: 100px;
    padding: 12px 0;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    line-height: 35px;
    text-transform: uppercase; }
    .main-navbar-nav .main-nav-link:first-child {
      border-top: 0;
      border-left: 10px solid #ffae00; }
    .main-navbar-nav .main-nav-link:first-child:hover {
      transition-duration: 1.5s;
      background: #ffae00; }
    .main-navbar-nav .main-nav-link:nth-child(2) {
      border-top: 0;
      border-left: 10px solid #fc7100; }
    .main-navbar-nav .main-nav-link:nth-child(2):hover {
      transition: 0.5s;
      background: #fc7100; }
    .main-navbar-nav .main-nav-link:nth-child(3) {
      border-top: 0;
      border-left: 10px solid #e51c5e; }
    .main-navbar-nav .main-nav-link:nth-child(3):hover {
      transition: 0.5s;
      background: #e51c5e; }
    .main-navbar-nav .main-nav-link:nth-child(4) {
      border-top: 0;
      border-left: 10px solid #ae0f8d; }
    .main-navbar-nav .main-nav-link:nth-child(4):hover {
      transition: 0.5s;
      background: #ae0f8d; }
    .main-navbar-nav .main-nav-link:nth-child(5) {
      border-top: 0;
      border-left: 10px solid #6d0fae; }
    .main-navbar-nav .main-nav-link:nth-child(5):hover {
      transition: 0.5s;
      background: #6d0fae; }
    .main-navbar-nav .main-nav-link:nth-child(6) {
      border-top: 0;
      border-left: 10px solid #33227a; }
    .main-navbar-nav .main-nav-link:nth-child(6):hover {
      transition: 0.5s;
      background: #33227a; }
    .main-navbar-nav .main-nav-link:nth-child(7) {
      border-top: 0;
      border-left: 10px solid #0c8fcc; }
    .main-navbar-nav .main-nav-link:nth-child(7):hover {
      transition: 0.5s;
      background: #0c8fcc; } }

.section-title-dark {
  position: relative;
  color: black;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 30px;
  margin-bottom: 40px; }
  .section-title-dark::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 5px;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: #eeeeee; }

.section-title-light {
  position: relative;
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 30px;
  margin-bottom: 40px; }
  .section-title-light::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 5px;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    background: #ffffff; }

.section-title {
  position: relative;
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 20px;
  padding-bottom: 30px; }

.theme-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px; }

.item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; }

.section-descript-dark {
  color: #3b4954;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px; }

.section-descript-light {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px; }

.section-descript {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 45px; }

.item-descript {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.light {
  color: #ffffff; }

.dark {
  color: black; }

.green {
  color: #02baab; }

.blue {
  color: #914ac2; }

.bg-green {
  background-color: #02baab; }

.pad-default {
  padding: 10vh 0; }

.bg-black {
  background-color: #000000; }

.round {
  border-radius: 50%; }

.navbar-toggler-icon {
  background: black; }

.fa-bars {
  color: #ffffff;
  background: #666666; }

.bg-gray {
  background: #666666; }

.d-color {
  color: #474d52; }

.y-color {
  color: #ffae00; }

.main-footer {
  background: #1f2a32;
  padding-bottom: 50px; }

.footer-title {
  margin-bottom: 50px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 300;
  line-height: 35px; }

.footer-section {
  padding-top: 60px;
  margin-bottom: 80px; }
  .footer-section:first-child {
    border-top: 17px solid #7827a9; }
  .footer-section:first-child:hover {
    background: #7827a9;
    transition: 0.6s; }
  .footer-section:nth-child(2) {
    border-top: 17px solid #0c8fcc; }
  .footer-section:nth-child(2):hover {
    background: #0c8fcc;
    transition: 0.6s; }
  .footer-section:nth-child(3) {
    border-top: 17px solid #de1c5c; }
  .footer-section:nth-child(3):hover {
    background: #de1c5c;
    transition: 0.6s; }
  .footer-section:last-child {
    border-top: 17px solid #ffae00; }
  .footer-section:last-child:hover {
    background: #ffae00;
    transition: 0.6s; }
  .footer-section .footer-list li:first-child::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 15px;
    top: 4px;
    left: 0;
    background: url("./img/flag.png") no-repeat; }
  .footer-section .footer-list li:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 4px;
    left: 0;
    background: url("./img/min-phone.png") no-repeat; }
  .footer-section .footer-list li:nth-child(3)::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 9px;
    top: 4px;
    left: 0;
    background: url("./img/letter.png") no-repeat; }
  .footer-section .footer-list li:nth-child(3) {
    margin-bottom: 30px; }
  .footer-section .footer-list .map-item {
    padding-left: 20px; }
  .footer-section .footer-list .footer-item {
    margin-bottom: 10px;
    position: relative;
    width: 185px;
    color: #85939f;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px; }
  .footer-section .footer-list span {
    color: #ffffff; }
  .footer-section .map {
    width: 210px;
    height: 150px; }

.footer-section .tweets-list .tweet-item {
  position: relative;
  width: 195px;
  padding-left: 20px;
  margin-bottom: 10px;
  color: #85939f;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px; }
  .footer-section .tweets-list .tweet-item .capt {
    color: #ffffff; }
  .footer-section .tweets-list .tweet-item .ago {
    display: block; }

.footer-section .tweets-list .tweet-item::before {
  position: absolute;
  content: '';
  width: 17px;
  height: 16px;
  top: 4px;
  left: 0;
  background: url("./img/tw-icon.png") no-repeat; }

.followings .follow-item .follow-link {
  position: relative;
  padding-left: 70px;
  height: 50px;
  vertical-align: middle;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 70px;
  margin-bottom: 25px; }

.followings li .follow-link::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 50px;
  height: 50px; }

.followings li:first-child .follow-link::before {
  background: url("./img/fb-icon.png"); }

.followings li:nth-child(2) .follow-link::before {
  background: url("./img/tw-b-icon.png"); }

.followings li:nth-child(3) .follow-link::before {
  background: url("./img/yt-icon.png"); }

.followings li:nth-child(4) .follow-link::before {
  background: url("./img/in-icon.png"); }

.followings li:last-child .follow-link::before {
  background: url("./img/p-icon.png"); }

.post-list .post-item .post-descript span {
  display: block; }

body .post-list .post-item:before {
  content: 'none'; }

.footer-bottom {
  width: 100%; }
  .footer-bottom .footer-copy {
    width: 235px; }
    .footer-bottom .footer-copy span {
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      line-height: 24px; }
    .footer-bottom .footer-copy .my-btn {
      display: inline-block; }

.amber-theme .green-head {
  padding: 10vh 0;
  background: #02baab; }
  .amber-theme .green-head .theme-title {
    margin-right: 60px; }
  .amber-theme .green-head .my-btn {
    position: relative;
    padding-right: 40px; }
    .amber-theme .green-head .my-btn::after {
      position: absolute;
      content: ""; }

.amber-theme .theme-features {
  background: white;
  padding: 10vh; }

.features-list .features-item {
  position: relative;
  z-index: 1;
  padding-left: 90px;
  margin-bottom: 40px;
  padding-right: 45px; }
  .features-list .features-item:first-child::before {
    position: absolute;
    content: '';
    width: 41px;
    height: 41px;
    top: -10px;
    left: 5px;
    background: url("./img/star.png") no-repeat; }
  .features-list .features-item:nth-child(2)::before {
    position: absolute;
    content: '';
    width: 35px;
    height: 32px;
    top: -10px;
    left: 5px;
    background: url("./img/cup.png") no-repeat; }
  .features-list .features-item:nth-child(4)::before {
    position: absolute;
    content: '';
    width: 34px;
    height: 34px;
    top: -10px;
    left: 5px;
    background: url("./img/magic.png") no-repeat; }
  .features-list .features-item:nth-child(5)::before {
    position: absolute;
    content: '';
    width: 43px;
    height: 28px;
    top: -10px;
    left: 5px;
    background: url("./img/push.png") no-repeat; }

@media (max-width: 1000px) {
  .amber-theme .green-head .theme-descript {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px; } }

@media (max-width: 1000px) {
  .amber-theme .green-head .my-btn {
    font-size: 16px;
    text-align: center;
    margin: 0 auto; } }

@media (max-width: 540px) {
  .features-list .features-item {
    padding-left: 50px;
    padding-right: 5px; } }

@media (max-width: 540px) {
  .features-title {
    font-size: 20px; } }

.slider {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .slider .carousel-item img {
    height: 50%;
    width: auto; }

.carousel-caption {
  bottom: 40%; }
  .carousel-caption h3 {
    width: 100%;
    font-size: 60px;
    font-weight: 300;
    line-height: 72px;
    color: #02baab; }
  .carousel-caption p {
    width: 100%;
    font-size: 60px;
    font-weight: 300;
    line-height: 72px;
    color: #ffffff; }

.carousel-buttons {
  position: absolute;
  z-index: 15;
  left: 50%;
  margin-left: -170px;
  bottom: 25%;
  display: flex; }
  .carousel-buttons .green-btn {
    margin-right: 30px; }

.carousel-indicators {
  bottom: 20%; }

.main-header .main-nav .navbar-toggler {
  background: #666666; }

.main-header .main-nav .navbar-toggler:focus {
  outline: none; }

.month {
  padding: 10vh 0; }
  .month .container-fluid {
    max-width: 785px;
    position: relative; }
    .month .container-fluid .my-btn {
      position: absolute;
      display: inline-block;
      margin-left: -75px;
      margin-bottom: 10vh;
      left: 50%; }

.last-works {
  padding: 10vh 0;
  background: url("img/sea.jpg") 0 -200px; }

.min-wrap {
  max-width: 740px;
  margin: 0 auto; }

.my-cards .cards-item {
  position: relative; }
  .my-cards .cards-item:hover .card-vertical {
    opacity: 1;
    transition: 1s; }
  .my-cards .cards-item:hover .down-text {
    opacity: 0;
    transition: 1s; }
  .my-cards .cards-item .card-photo {
    width: 100%; }

.my-cards .card-vertical {
  opacity: 0;
  display: flex;
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 140px;
  flex-direction: column;
  justify-content: space-between; }

.my-cards .icon-item .icon-linc {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: green; }

.my-cards .icon-item:first-child .icon-linc {
  background: #02baab url("img/heart.png") no-repeat 10px 13px; }

.my-cards .icon-item:nth-child(2) .icon-linc {
  background: #02baab url("img/zoom.png") no-repeat 10px 12px; }

.my-cards .icon-item:last-child .icon-linc {
  background: #02baab url("img/icon-link.png") no-repeat 10px 10px; }

.down-text {
  width: 90%;
  position: absolute;
  bottom: 5px; }
  .down-text .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0; }
    .down-text .card-title .icon {
      display: block;
      width: 16px;
      height: 14px;
      background: url("img/heart1.png") no-repeat; }
  .down-text .person-position {
    display: flex;
    justify-content: space-between;
    color: #02baab;
    margin: 0 20px;
    font-size: 11px;
    font-weight: 300;
    line-height: 20px; }

@media (max-width: 767px) {
  .cards-item {
    margin-bottom: 10px; } }

.carousel-1 {
  position: relative; }
  .carousel-1::before {
    content: '';
    position: absolute;
    width: 47px;
    height: 39px;
    left: 50%;
    top: 10%;
    margin-left: -24px;
    background: url("img/quote.png");
    z-index: 100; }

.carousel-1 .carousel-caption {
  width: 640px;
  margin: 0 auto;
  bottom: 20%; }

.carousel-1 .carousel-indicators li {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px; }

.carousel-1 .carousel-caption h3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px; }

.carousel-1 .carousel-caption p {
  color: #02baab;
  font-family: Lato,'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase; }

@media (max-width: 1110px) {
  .carousel-1::before {
    display: none; } }

@media (max-width: 960px) {
  .carousel-caption {
    bottom: 10%; } }

.blog-post {
  padding: 10vh 0; }

.card-deck {
  margin-bottom: 30px; }

.card {
  border: none;
  padding-bottom: 30px;
  margin-bottom: 50px; }
  .card:last-child .my-card-footer .comments .comment-link {
    display: block;
    width: 21px;
    height: 16px;
    background: url("./img/blue-comment.png") no-repeat; }

.card-body {
  padding-right: 0;
  padding-left: 0; }

.my-card-footer {
  border-top: none;
  background: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray; }
  .my-card-footer .comments {
    display: flex;
    align-items: center; }
    .my-card-footer .comments .comment-link {
      display: block;
      width: 21px;
      height: 16px;
      background: url("./img/comment.png") no-repeat; }

@media (min-width: 576px) {
  .card-deck .card {
    margin-left: 0;
    margin-right: 0; } }

.expiriens {
  position: relative; }
  .expiriens .row {
    position: relative; }
    .expiriens .row::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background: #ffffff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      left: 50%;
      top: 45%;
      margin-left: -5px;
      -webkit-box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
      box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
      -webkit-transform: translate(-100px, -50px);
      -ms-transform: translate(-100px, -50px);
      transform: translate(-190px, -50px); }
    .expiriens .row::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      background: #ffffff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      right: 50%;
      top: 45%;
      margin-right: -6px;
      -webkit-box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
      box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
      -webkit-transform: translate(-100px, -50px);
      -ms-transform: translate(-100px, -50px);
      transform: translate(190px, -50px); }

@media (max-width: 1199px) {
  .expiriens .row::before {
    position: absolute;
    top: 45%;
    content: "";
    width: 10px;
    height: 10px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    margin-left: -5px;
    -webkit-box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
    box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
    -webkit-transform: translate(-100px, -50px);
    -ms-transform: translate(-100px, -50px);
    transform: translate(-160px, -50px); }
  .expiriens .row::after {
    position: absolute;
    top: 45%;
    content: "";
    width: 10px;
    height: 10px;
    background: #ffffff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: 50%;
    margin-left: -5px;
    -webkit-box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
    box-shadow: 20px 0 0 #ffffff, -20px 0 0 #ffffff;
    -webkit-transform: translate(-100px, -50px);
    -ms-transform: translate(-100px, -50px);
    transform: translate(160px, -50px); } }

@media (max-width: 991px) {
  .expiriens .row::before {
    display: none; }
  .expiriens .row::after {
    display: none; } }

.item {
  position: relative;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  background-color: red;
  margin: 0 auto;
  margin-bottom: 30px; }
  .item .radial-inner-bg {
    border-radius: 50%;
    width: 198px;
    height: 198px;
    top: 8px;
    left: 8px;
    background: #02baab;
    position: absolute; }
  .item .black-round {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 1;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px; }

.progress-scale .section-descript-light {
  width: 220px;
  margin: 0 auto; }

.progress-scale:last-child .section-descript-light {
  width: 200px;
  margin: 0 auto; }

.progress-scale:first-child .black-round::before {
  position: absolute;
  content: '';
  width: 63px;
  height: 58px;
  top: 50%;
  margin-top: -32px;
  left: 50%;
  margin-left: -29px;
  background: url("img/gears.png") no-repeat; }

.progress-scale:nth-child(2) .black-round::before {
  position: absolute;
  content: '';
  width: 54px;
  height: 54px;
  top: 50%;
  margin-top: -27px;
  left: 50%;
  margin-left: -27px;
  background: url("img/b-phone.png") no-repeat; }

.progress-scale:last-child .black-round::before {
  position: absolute;
  content: '';
  width: 63px;
  height: 58px;
  top: 50%;
  margin-top: -29px;
  left: 50%;
  margin-left: -32px;
  background: url("img/rocket.png") no-repeat; }

.progress-scale .section-title {
  padding-bottom: 0; }

.progress-0 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(90deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-1 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(93.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-2 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(97.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-3 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(100.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-4 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(104.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-5 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(108deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-6 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(111.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-7 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(115.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-8 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(118.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-9 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(122.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-10 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(126deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-11 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(129.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-12 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(133.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-13 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(136.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-14 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(140.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-15 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(144deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-16 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(147.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-17 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(151.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-18 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(154.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-19 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(158.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-20 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(162deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-21 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(165.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-22 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(169.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-23 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(172.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-24 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(176.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-25 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(180deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-26 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(183.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-27 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(187.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-28 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(190.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-29 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(194.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-30 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(198deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-31 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(201.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-32 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(205.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-33 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(208.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-34 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(212.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-35 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(216deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-36 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(219.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-37 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(223.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-38 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(226.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-39 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(230.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-40 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(234deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-41 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(237.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-42 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(241.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-43 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(244.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-44 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(248.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-45 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(252deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-46 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(255.6deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-47 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(259.2deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-48 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(262.8deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-49 {
  background-image: linear-gradient(90deg, #35c8bc 50%, transparent 50%, transparent), linear-gradient(266.4deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-50 {
  background-image: linear-gradient(-90deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-51 {
  background-image: linear-gradient(-86.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-52 {
  background-image: linear-gradient(-82.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-53 {
  background-image: linear-gradient(-79.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-54 {
  background-image: linear-gradient(-75.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-55 {
  background-image: linear-gradient(-72deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-56 {
  background-image: linear-gradient(-68.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-57 {
  background-image: linear-gradient(-64.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-58 {
  background-image: linear-gradient(-61.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-59 {
  background-image: linear-gradient(-57.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-60 {
  background-image: linear-gradient(-54deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-61 {
  background-image: linear-gradient(-50.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-62 {
  background-image: linear-gradient(-46.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-63 {
  background-image: linear-gradient(-43.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-64 {
  background-image: linear-gradient(-39.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-65 {
  background-image: linear-gradient(-36deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-66 {
  background-image: linear-gradient(-32.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-67 {
  background-image: linear-gradient(-28.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-68 {
  background-image: linear-gradient(-25.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-69 {
  background-image: linear-gradient(-21.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-70 {
  background-image: linear-gradient(-18deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-71 {
  background-image: linear-gradient(-14.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-72 {
  background-image: linear-gradient(-10.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-73 {
  background-image: linear-gradient(-7.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-74 {
  background-image: linear-gradient(-3.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-75 {
  background-image: linear-gradient(0deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-76 {
  background-image: linear-gradient(3.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-77 {
  background-image: linear-gradient(7.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-78 {
  background-image: linear-gradient(10.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-79 {
  background-image: linear-gradient(14.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-80 {
  background-image: linear-gradient(18deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-81 {
  background-image: linear-gradient(21.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-82 {
  background-image: linear-gradient(25.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-83 {
  background-image: linear-gradient(28.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-84 {
  background-image: linear-gradient(32.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-85 {
  background-image: linear-gradient(36deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-86 {
  background-image: linear-gradient(39.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-87 {
  background-image: linear-gradient(43.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-88 {
  background-image: linear-gradient(46.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-89 {
  background-image: linear-gradient(50.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-90 {
  background-image: linear-gradient(54deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-91 {
  background-image: linear-gradient(57.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-92 {
  background-image: linear-gradient(61.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-93 {
  background-image: linear-gradient(64.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-94 {
  background-image: linear-gradient(68.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-95 {
  background-image: linear-gradient(72deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-96 {
  background-image: linear-gradient(75.6deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-97 {
  background-image: linear-gradient(79.2deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-98 {
  background-image: linear-gradient(82.8deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-99 {
  background-image: linear-gradient(86.4deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.progress-100 {
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, #35c8bc 50%, #35c8bc); }

.my-card .wrap-card {
  position: relative;
  height: 340px;
  border: 3px solid #eeeeee;
  border-bottom: 0; }
  .my-card .wrap-card .wrap-img {
    position: relative;
    z-index: 2;
    height: 210px;
    overflow: hidden; }
    .my-card .wrap-card .wrap-img img {
      width: 100%;
      height: auto; }
  .my-card .wrap-card .card-info {
    position: absolute;
    width: 100%;
    z-index: 3;
    bottom: 0;
    height: 90px; }

.carde-title {
  width: 150px;
  background: lightcyan;
  margin: -60px auto 0;
  text-align: center; }

.carde-title h5 {
  width: 150px;
  color: #02baab;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background: white;
  text-align: center; }

.carde-title span {
  color: #c4c4c4;
  font-size: 12px; }

.card-description {
  color: #3b4954;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  padding: 0 20px; }

.my-card:hover .card-info {
  transition: 1s;
  margin-top: 0; }

.my-card:hover .wrap-img {
  height: 340px;
  transition: height 1s;
  z-index: 4; }

.my-card .b-2 {
  padding: 20px 0;
  border: 3px solid #eeeeee;
  border-top: 0; }
  .my-card .b-2 .my-btn {
    display: inline-block;
    margin: 0 auto; }

.blog-header {
  height: 330px;
  background: url("./img/blog-head-back.jpg") 0 0 no-repeat;
  background-size: cover;
  margin-bottom: 30px; }
  .blog-header .blog-title {
    padding-top: 155px; }

.nav-blog .blog-item .blog-link {
  display: block;
  position: relative;
  padding-left: 30px;
  color: #85939f;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px; }

.nav-blog .blog-item .blog-link::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  top: 5px;
  left: 0; }

.nav-blog .blog-item:first-child .blog-link::before {
  background: url("./img/user.png") no-repeat; }

.nav-blog .blog-item:nth-child(2) .blog-link::before {
  background: url("./img/clock.png") no-repeat; }

.nav-blog .blog-item:last-child .blog-link::before {
  background: url("./img/commen.png") no-repeat; }

.breadcrumb {
  background: none; }
  .breadcrumb .breadcrumb-link {
    color: #85939f;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px; }

.pagination .page-item .page-link {
  border: none;
  color: #02baab;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  /* Text style for "1, ..." */
  /* Text style for "7" */ }
  .pagination .page-item .page-link:first-child {
    color: #3b4954; }
  .pagination .page-item .page-link:nth-child(7) {
    color: #6d0fae; }

.single-main img {
  width: 100%;
  height: auto; }

.footer-main {
  border-top: 1px solid #eaebec;
  margin-top: 30px;
  padding-top: 30px; }

.row-cloud {
  position: relative;
  padding-left: 20px;
  margin-bottom: 30px; }
  .row-cloud .badge {
    border: none;
    color: #02baab; }
  .row-cloud::before {
    position: absolute;
    content: '';
    width: 14px;
    height: 12px;
    top: 8px;
    left: 0;
    background: url("./img/tags.png"); }

.soc-list {
  margin-bottom: 60px; }
  .soc-list .soc-item .soc-link {
    margin-right: 5px;
    display: block;
    width: 32px;
    height: 32px;
    background: url("./img/sprite-soc-icon.png") no-repeat; }
  .soc-list .soc-item:nth-child(2) .soc-link {
    background-position: -37px 0; }
  .soc-list .soc-item:nth-child(3) .soc-link {
    background-position: -74px 0; }
  .soc-list .soc-item:nth-child(4) .soc-link {
    background-position: -111px 0; }
  .soc-list .soc-item:nth-child(5) .soc-link {
    background-position: -144px 0; }

.related-posts .item-title {
  margin-bottom: 50px; }

.posts-list .posts-item {
  position: relative;
  width: 200px; }
  .posts-list .posts-item .posts-content {
    color: #02baab;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px; }
  .posts-list .posts-item:before {
    position: absolute;
    content: '';
    top: -30px;
    left: 13px;
    width: 18px;
    height: 12px;
    background: url("./img/month-day.png"); }

.posts-content span {
  display: block;
  color: #3b4954; }

.add-info {
  padding-left: 30px; }

.card-flag {
  margin-bottom: 25px; }
  .card-flag .card-header {
    background: none;
    color: #474d52;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    padding-left: 0;
    padding-top: 0;
    border: none; }
  .card-flag .list-group-item {
    position: relative;
    color: #02baab;
    font-size: 12px;
    font-weight: 300;
    line-height: 40px;
    padding: 5px 0 5px 20px;
    border-bottom: 1px solid #edeeef; }
    .card-flag .list-group-item::before {
      position: absolute;
      content: '';
      width: 13px;
      height: 11px;
      left: 0;
      top: 20px;
      background: url("./img/item-flag.png"); }

.card-quote {
  margin-bottom: 25px; }
  .card-quote .card-header {
    background: none;
    color: #474d52;
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
    padding-left: 0;
    padding-top: 0;
    border: none; }
  .card-quote .list-group-item {
    position: relative;
    color: #02baab;
    font-size: 12px;
    font-weight: 300;
    line-height: 23px;
    padding: 5px 40px 5px 20px;
    border-bottom: 1px solid #edeeef; }
    .card-quote .list-group-item span {
      display: block;
      color: #02baab; }
    .card-quote .list-group-item::before {
      position: absolute;
      content: '';
      width: 13px;
      height: 12px;
      left: 0;
      top: 10px;
      background: url("./img/item-quote.png"); }

.slide {
  margin-bottom: 20px; }

.carousel-control-prev {
  left: 100px; }

.carousel-control-next {
  right: 100px; }

.carousel-control-next, .carousel-control-prev {
  top: 148px;
  width: 15%;
  color: #000;
  height: 20px; }

.frame-cloud .badge {
  border: 1px solid #eeeeee;
  padding: 10px 19px; }

.frame-cloud .active {
  background: #02baab;
  color: #ffffff; }

.badge {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  color: #02baab;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  background: none; }

.single-clock {
  width: 100%;
  height: auto; }

.footer-blog-single .input-box {
  margin-bottom: 20px; }
  .footer-blog-single .input-box input:focus {
    display: none; }
  .footer-blog-single .input-box .message {
    resize: none; }
  .footer-blog-single .input-box .message:focus {
    display: none; }

.footer-blog-single {
  background: #ebf0f3; }

.author .input-box {
  display: flex;
  flex-direction: column; }

.comment {
  padding: 25px 30px;
  background: #ffffff;
  margin-bottom: 20px; }
  .comment .comment-header {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px; }
    .comment .comment-header:hover .back-btn {
      visibility: visible; }
    .comment .comment-header .comment-title {
      color: #3b4954;
      font-size: 14px;
      font-weight: 300; }
    .comment .comment-header .back-btn {
      visibility: hidden;
      color: #02baab;
      font-weight: 700;
      line-height: 24px; }
    .comment .comment-header time {
      color: #85939f;
      font-size: 12px;
      font-weight: 300;
      line-height: 24px; }

.comment-user {
  width: 95%;
  margin-left: 5%; }
