ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0 0 30px;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  display: none;
}